
$title-color: #143774;
$subtitle-color: #1792d2;
$body-bg-color: white;
$header-bg-color: #f8f8f8;
$border-color: #ebebeb;
$content-color: #707070;
$header-color: #717171;

$font1: Lora, serif;
$font2: Ubuntu, sans-serif;
